@import 'general.scss';
@import 'components.scss';
@import 'animations.scss';
@import 'layout.scss';


.block-with-blurbs {

    .about-book {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        // // flex: 1 1 50%;
        // width: 100%;
        // flex-wrap: wrap;
        flex-direction: column;
        position: relative;

        &--cat-blurbs {
            margin-top: 3.5rem;

            &::before {
                content: "";
                display: block;
                background-image: url(../img/half-cat-head.png);
                background-size: contain;
                background-position: bottom left;
                background-repeat: no-repeat;
                width: 100%;
                height: 5rem;
                position: absolute;
                top: -3.8rem;
                left: 0;
            }
        }

        &--dog-blurbs {
            margin-top: 5rem;

            &::before {
                content: "";
                display: block;
                background-image: url(../img/half-dog-head.png);
                background-size: contain;
                background-position: bottom left;
                background-repeat: no-repeat;
                width: 100%;
                height: 8.75rem;
                position: absolute;
                top: -3.65rem;
                left: 0;
            }
        }
    }

    .single-opinion-with-photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        // justify-content: space-between;
        // align-items: flex-start;
        background-color: $almoust-white-primary-background;
        padding: 1.25rem;
        margin: 0.5rem;
        width: 100%;
        // font-size: 0.75rem;
        // flex-wrap: wrap;
        // flex-basis: 50%;
        // min-width: ;

        .rounded-img {
            // width: 6rem;
            // height: 6rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 1rem;
            margin-top: auto;
            

            img {
                height: 6rem;
                height: 6rem;
                border-radius: 50%;
            }

            &__author-description {
                padding-left: 1rem;
                font-size: 0.65rem;
            }
        }
    }
}

@media (min-width: 800px) {
    .block-with-blurbs {
    .about-book {
        flex-direction: row;
    }

    .single-opinion-with-photo {
        width: 48.5%;
        font-size: 0.75rem;
    }
}
}

.block-with-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__paws-prints {
        position: relative;
        width: 100%;
        overflow: hidden;
    
        img {
            height: 100px;
        }
    }

    .paws-prints {
        &__cover {
            position: absolute;
            top: 0;
            left: 0;
            background: $almoust-white-primary-background;
            height: 100px;
            width: 888px;
            animation: walk 10s steps(10, end) infinite;
          }
    }

    .gasa-shop-button {
        margin: 2rem auto;
        font-size: 1.25rem;
        max-width: fit-content;
    }
}
  

  
  @keyframes walk {
    to {
      transform: translateX(888px);
    }
  }

  .block-video-with-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2rem;

    &__video-part {
      iframe {
        width: 560px;
        height: 315px;
        max-width: 70vw;
      }
    }
  }

  @media (min-width: 800px) {
    .block-video-with-description {
      flex-wrap: nowrap;
      column-gap: 1.5rem;
    }
}

// General
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  // Layout
  .row {
    display:flex;
    .col {
      flex:1;
      &:last-child {
        margin-left: 1em;
      }
    }
  }

  /* Accordion styles */
.tabs {
    border-radius: 5px;
    overflow: hidden;
  }
  .tab {
    width: 100%;
    color: $almoust-white-primary-background;
    overflow: hidden;
    
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background: $green-primary;
      font-weight: bold;
      cursor: pointer;

    //   border-bottom: 4px solid $brown-primary;

      /* Icon */
      &:hover {
        // background: darken($green-primary, 10%);
      }
      &::after {
        // content: "\276F"; /*? sign ?*/
        content: "";
        background: center center / 2.5rem 1rem no-repeat url(/img/komponent-palec.png); 
        width: 2.5rem;
        height: 1rem;
        text-align: center;
        transition: all .35s;
        // margin-left: 1rem;
      }
    }
    &-content {
      max-height: 0;
      padding: 0 1em;
      color: $almoust-black-primary-font;
      background: $pink-primary;
      transition: all .35s;
    }
    // &-close {
    //   display: flex;
    //   justify-content: flex-end;
    //   padding: 1em;
    //   font-size: 0.75em;
    //   background: $green-primary;
    //   cursor: pointer;
    //   &:hover {
    //     background: darken($green-primary, 10%);
    //   }
    // }
  }
  
  // :checked
  input:checked {
    + .tab-label {
      // background: darken($pink-primary, 5%);
      &::after {
        //   width: 1.5rem;
        //   background-position: right bottom;
        transform: rotate(-35deg);
      }
    }
    ~ .tab-content {
      max-height: 100vh;
      padding: 1em;
    }
  }

  .opinion-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 0 1.5rem;

    .opinion-img {
        max-width: 80vw;
        display: block;
        margin-bottom: 0.2rem;
    }

    &__more-images-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.last-block-with-buttons {
  display: flex;
  column-gap: 2rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2.5rem;


  &__last-buy-button {
    width: 100%;
    max-width: 12rem;
    margin: 1rem 2rem 1rem;
    @include button-base($almoust-black-primary-font, $almoust-black-primary-font, $almoust-white-primary-background);
    margin-top: 70px;
  }

  .last-buy-button {
    position: relative;

    .link-button {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: -75px;
        width: 100%;
        
        height: 70px;
        transition: 1s ease-in-out;
      }
    }

    &--dog {
      .link-button {
        &::after {
          right: -2rem;
          background: url(/img/komponent-glaskanie-z-prawej.png) center right no-repeat;
          background-size: contain;
        }
      }
    }

    &--cat {
      .link-button {
        &::after {
          left: -2rem;
          background: url(/img/komponent-glaskanie-z-lewej.png) center left no-repeat;
          background-size: contain;
        }
      }
    }


  }

  &__link-simple {
    width: 100%;
    max-width: 900px;
    margin: 2rem auto 1rem;
    text-align: center;

  }
}

.default-link {
  text-decoration: underline;
  font-size: 0.75rem;
}

@media (min-width: 800px) {
  .last-block-with-buttons {
    flex-wrap: nowrap;
  }

  .last-buy-button {
    &--cat {
      &:hover {
        .link-button {
          &::after {
            left: 0;
          }
        }
      }
    }

    &--dog {
      &:hover {
        .link-button {
          &::after {
            right: 0;
          }
        }
      }
    }
  }
}

.gasabookpage-footer {
  width: 100%;
  height: 3rem;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  background-color: $almoust-white-primary-background;

  &__top-line,
  &__middle-line {
      width: 95%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }

  &__middle-line {
      margin-bottom: 6rem;
  }

  &__bottom-line {
      width: fit-content;
      background-color: $pink-primary-rgba;
      height: 1.5rem;
      position: fixed;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 2rem;
      z-index: 5;
      padding: 1rem 0 1rem 1rem;
      // padding-right: 1rem;

      img {
        height: 1.5rem;
        // margin-right: auto;
        // margin-right: 2rem;
      }
      
      i {
        font-size: 1rem;
      }
  }
}

.gallery-block {
  // display: grid;
  // grid-template-columns: 250px 250px 250px;
  // grid-template-rows: 250px 250px;
  // grid-template-rows: auto;
  display: flex;
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  // margin: 0 auto;
  justify-content: space-evenly;
  align-items: stretch;


  .single-img-wrap {
    width: 250px;
    height: 250px;


    &__img-tag {
      width: 100%;
      height: 100%;
    }
  }
}


@import 'english.scss';